:root {
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);

    --red: red;
    --body-font-size: 13px;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Ensure body takes at least full viewport height */
    margin: 0;
    font-size: var(--body-font-size);
    background-color: var(--light-grayish-blue);
}
.card {
    
    display: flex;
    flex-direction: column;
    place-content: center;
    max-inline-size: clamp(25em, calc(25em + 1.5vw), 60em);
    background-color: white;
    border-radius: 10px;
}

.card>img {
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
    max-block-size: 15.3em;
  
}

footer {
    margin-top: auto;
    /* Push footer to the bottom */
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
}

.hide {
    display: none;
}

.show {
    display: flex;
}

main {
    flex: 1;
    /* Grow to fill available space */
    display: flex;
    justify-content: center;
    /* Center content horizontally */
    align-items: center;
    /* Center content vertically */
    padding: 20px;
}

.profile-con {

    padding-block-end: 20px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
}
.profile-pic {
    border-radius: 200px;
}

.profile-share-con {
    border-radius: 50px;
    align-self: center;
    margin-inline-start: auto;
    background-color: var(--light-grayish-blue);
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 10px;
}

/* .profile-share-con:is(:hover, :focus) {
    background-color: var(--desaturated-dark-blue);
} */

.share-img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(128deg) brightness(100%) contrast(103%);
}



.profile-share-con-click {
    border-radius: 50px;
    align-self: center;
    margin-inline-start: auto;
    display: flex;
    justify-items: center;
    align-items: center;        
    padding: 10px;
    background-color: var(--desaturated-dark-blue);
}
.profile-text-con {
    display: flex;
    flex-direction: column;
    padding-inline-start: 1em;
}
.profile-text-con>p {
    margin: 0;
}
.profile-text-name {
    color: var(--very-dark-grayish-blue);
    padding-bottom: 5px;
}


.share-con-click {

    justify-content: center;
    align-items: center;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    padding-block-start: 20px;
    padding-block-end: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--very-dark-grayish-blue);
}

.share-con-click>img {
    margin-inline-start: 15px;
}
.share-con-click>p {
    margin: 0;
    letter-spacing: 0.35em;
}

.text-sect {
    color: var(--desaturated-dark-blue);
   
    font-size: 1.13em;
}
.text-sect>h1 {
    color: var(--very-dark-grayish-blue);
    font-size: 1.24em;
    line-height: 1.5em;
    margin: 0;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    padding-block-start: 35px;
}
.text-sect>p {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    
    padding-block-end: 20px;
    
}

/* Additional styling for body and HTML to fill viewport */
html {
    height: 100%;
}




.manrope-500 {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.manrope-700 {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}